<ul class="menu-item">
    <li class="home"><a href="/">{{ site.title }}</a></li>

    <div id="dd" class="wrapper-dropdown-3" tabindex="1">
        <span style="text-align: center;">Transport</span>
        <ul class="dropdown">
            {% for link in site.data.navigation %}
                {% if link.url contains 'http' %}
                    {% assign domain = '' %}
                {% else %}
                    {% assign domain = site.url %}
                {% endif %}
                <li style="margin-bottom: 0;"><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %} target="_blank" {% endif %}>{{ link.title }}</a></li>
              {% endfor %}
        </ul>
    </div>
</ul>


<!--<ul class="menu-item">-->
	<!--<li class="home"><a href="/">{{ site.title }}</a></li>-->
	<!--{% for link in site.data.navigation %}-->
    <!--{% if link.url contains 'http' %}-->
        <!--{% assign domain = '' %}-->
        <!--{% else %}-->
        <!--{% assign domain = site.url %}-->
    <!--{% endif %}-->
    <!--<li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>-->
  <!--{% endfor %}-->
<!--</ul>-->